@import "./abstracts/_mixins.scss";

@import "./base/_typography.scss";
@import "./base/_fonts.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:hover {
    outline: none;
}

:root {
    font-size: 62.5% !important;
    --rem: 10;
}

html,
body,
#app {
  min-height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: rgba(10, 9, 20, 1);
  color: white;
}

body {
  font-family: "Satoshi-Variable", sans-serif;
}

input,
button,
select,
textarea {
    font-family: inherit;
}

.btn {
  border: 0;
  margin: 0;
  outline: 0;
	background-color: transparent;

	&:hover {
		cursor: pointer;
	}
}
